@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Pacifico&family=Patrick+Hand&family=Roboto+Slab&family=Varela+Round&display=swap');

h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Roboto Slab', serif;
    margin-right: 2em;
}

body {
    background-color: #DFF6FF;
}

.form-group {
    margin-left: 350px;
    margin-right: auto;
}

.form-group span {
    margin: 10px;
}

.selectpicker {
    margin: auto;
    align-content: center;
    /* width: 100px; */
}

#button {
    /* margin: auto; */
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: #06283D;
    border: 2px solid #06283D;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    margin-left: 19em;
    display: block;
}

#button:hover {
    background-color: #47B5FF;
    color: #06283D;
}

.output {
    margin: auto;
    width: 420px;
    margin-left: 19em;
    margin-top: 2em;
}

.output textarea {
    margin: 150px;
    resize: none;

}

textarea {
    resize: none;

}

textarea:hover {
    border: 3px solid #06283D;
}

.input-group {
    margin: auto;
    width: 320px;
}

select {
    max-width: 90%;
}

span {
    display: block;
    overflow: hidden;
    font-size: 18px;
}

.col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 100%;
}

label{
    margin-left: 5px;
    font-size : 18px;
}